# A gitignore file specifies intentionally untracked files that Git should ignore
# https://git-scm.com/docs/gitignore

*.log
.DS_Store
.env
.env.backup
.env.development
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

/.devcontainer
/.vscode
/certs
docker-compose.override.yml

/storage/debugbar

/docs/readmes
/ETL
/precious_media_server
/env_files

